/*Control Panel*/
:root {
    --primary-color: #4a4a4a;
    --secondary-color: #f0f2f5;
    --accent-color: #066b94;
    --menu-bg-color: white;
    --menu-border-color: #ccc;
    --menu-hover-bg: #a5a5a5;
    --font-size-h3: 16px;
    --font-size-h4: 13px;
  }
.accordion{
  --cui-accordion-active-color: var(--secondary-color) !important;
  --cui-accordion-active-bg: var(--accent-color) !important;
  --cui-accordion-btn-padding-y: 15px !important;
  --cui-accordion-btn-active-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m2 5 6 6 6-6'/%3E%3C/svg%3E") !important;
  width: 100% !important;
  margin: 0 10px !important;
  }
  .accordion .accordion-item .show{
    height: 100% !important;
  }

  .custom-hover-card:hover
  {
    color: var(--secondary-color) !important;
    background-color: var(--accent-color) !important;
  }
  .custom-hover-card{
    height: 100px !important;
    text-align: center !important;
    
  }
  .custom-hover-card .custom-card-body{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  }
  .custom-hover-card .custom-card-body .custom-icon{
    font-size: 18px !important;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 items per row */
    gap: 1rem; /* Adjust the gap as needed */
}